altgraph==0.17.4
astropy==7.1.0
astropy-iers-data==0.2025.9.15.0.37.0
configparser==7.2.0
numpy==2.3.3
packaging==25.0
pillow==11.3.0
platformdirs==4.4.0
pyerfa==2.0.1.5
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.8
PyYAML==6.0.2
scipy==1.16.2
setuptools==80.9.0
